In [ ]:
#10. 行数のカウント
#ファイルの行数をカウントせよ。確認にはwcコマンドを用いよ。
with open("popular-names.txt",'r') as f:
    print(len(f.readlines()))        
import pandas as pd
data = pd.read_csv("popular-names.txt", sep='\t', header= None)
len(data)

#wc popular-names.txt -l

2780

2780

In [ ]:
#11. 先頭からN行を出力
#ファイルの先頭N行だけを表示せよ。例えば、N=10として先頭10行を表示せよ。確認にはheadコマンドを用いよ。
def show_first_n_lines(file_adr, n):
    with open(file_adr, 'r') as f:
        lines = f.readlines()
        print(''.join(lines[:n]))
file_adr = "popular-names.txt"
show_first_n_lines(file_adr, 10)
import pandas as pd
def show_first_n_lines(data, n):
    print(data[:n])
    print(data.head(n))
data = pd.read_csv("popular-names.txt", sep='\t', header= None)
show_first_n_lines(data, 10)

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

           0  1     2     3
0       Mary  F  7065  1880
1       Anna  F  2604  1880
2       Emma  F  2003  1880
3  Elizabeth  F  1939  1880
4     Minnie  F  1746  1880
5   Margaret  F  1578  1880
6        Ida  F  1472  1880
7      Alice  F  1414  1880
8     Bertha  F  1320  1880
9      Sarah  F  1288  1880
           0  1     2     3
0       Mary  F  7065  1880
1       Anna  F  2604  1880
2       Emma  F  2003  1880
3  Elizabeth  F  1939  1880
4     Minnie  F  1746  1880
5   Margaret  F  1578  1880
6        Ida  F  1472  1880
7      Alice  F  1414  1880
8     Bertha  F  1320  1880
9      Sarah  F  1288  1880

In [37]:
#12. 末尾のN行を出力
#ファイルの末尾N行だけを表示せよ。例えば、N=10として末尾10行を表示せよ。確認にはtailコマンドを用いよ。
def show_last_n_lines(file_adr, n):
    with open(file_adr, 'r') as f:
        lines = f.readlines()
        print(''.join(lines[-n:]))
file_adr = "popular-names.txt"
show_last_n_lines(file_adr, 10)

import pandas as pd
def show_last_n_lines(file_adr, n):
    data = pd.read_csv(file_adr, sep = '\t', header=None)
    print(data.tail(n))
    print(data[-n:])
file_adr = "popular-names.txt"
show_last_n_lines(file_adr, 10)

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

             0  1      2     3
2770      Liam  M  19837  2018
2771      Noah  M  18267  2018
2772   William  M  14516  2018
2773     James  M  13525  2018
2774    Oliver  M  13389  2018
2775  Benjamin  M  13381  2018
2776    Elijah  M  12886  2018
2777     Lucas  M  12585  2018
2778     Mason  M  12435  2018
2779     Logan  M  12352  2018
             0  1      2     3
2770      Liam  M  19837  2018
2771      Noah  M  18267  2018
2772   William  M  14516  2018
2773     James  M  13525  2018
2774    Oliver  M  13389  2018
2775  Benjamin  M  13381  2018
2776    Elijah  M  12886  2018
2777     Lucas  M  12585  2018
2778     Mason  M  12435  2018
2779     Logan  M  12352  2018

In [ ]:
#13. タブをスペースに置換
#ファイルの先頭10行に対して、タブ1文字につきスペース1文字に置換して出力せよ。確認にはsedコマンド、trコマンド、もしくはexpandコマンドなどを用いよ。